In [2]:
import pandas as pd

In [3]:
df_o=pd.read_csv("/Users/vj/Jupyter Notebook/DSTC-5082/Data/openweather_data_prep.csv",index_col=0)
df_n=pd.read_csv("/Users/vj/Jupyter Notebook/DSTC-5082/Data/nasa_daily_data.csv",index_col=0)

In [4]:
df_o

,date,median_temp,dew_point_C,pressure_kPa,humidity,wind_speed,wind_gust,rain_1h,snow_1h,clouds_all,visibility
0,2001-01-01 00:00:00,-2.915,-2.50,103.0,100,4.10,NaN,NaN,NaN,100,3200.0
1,2001-01-01 01:00:00,-2.855,-2.99,103.0,95,4.10,NaN,NaN,0.22,100,10000.0
2,2001-01-01 02:00:00,-2.870,-3.02,103.0,95,3.10,NaN,NaN,NaN,100,10000.0
3,2001-01-01 03:00:00,-2.865,-3.77,103.1,92,2.60,NaN,NaN,NaN,100,10000.0
4,2001-01-01 04:00:00,-3.085,-3.45,103.2,95,2.10,NaN,NaN,NaN,100,10000.0
...,...,...,...,...,...,...,...,...,...,...,...
210379,2024-12-31 19:00:00,12.280,2.46,102.0,49,4.63,9.26,NaN,NaN,20,10000.0
210380,2024-12-31 20:00:00,12.920,2.44,102.0,48,4.12,NaN,NaN,NaN,20,10000.0
210381,2024-12-31 21:00:00,13.595,2.88,102.0,47,5.14,7.72,NaN,NaN,20,10000.0
210382,2024-12-31 22:00:00,13.560,2.88,102.0,47,4.12,NaN,NaN,NaN,20,10000.0
210383,2024-12-31 23:00:00,12.575,3.06,102.0,51,4.12,NaN,NaN,NaN,40,10000.0

In [5]:
df_n

,datetime,temp_C,pressure_kPa,humidity,wind_speed,rain_1h,Longwave_Irradiance_Wm2,Shortwave_Irradiance_Wm2
0,2001-01-01 00:00:00,-8.33,100.87,100.00,1.74,0.02,264.88,0.0
1,2001-01-01 01:00:00,-8.84,100.89,100.00,1.81,0.01,253.45,0.0
2,2001-01-01 02:00:00,-9.11,100.92,100.00,1.90,0.01,249.07,0.0
3,2001-01-01 03:00:00,-9.36,100.92,100.00,2.02,0.02,261.33,0.0
4,2001-01-01 04:00:00,-9.71,100.91,100.00,2.18,0.06,255.15,0.0
...,...,...,...,...,...,...,...,...
210379,2024-12-31 19:00:00,6.88,99.97,80.13,2.08,0.00,-999.00,-999.0
210380,2024-12-31 20:00:00,6.27,100.03,83.28,2.08,0.00,-999.00,-999.0
210381,2024-12-31 21:00:00,5.60,100.07,86.74,2.09,0.00,-999.00,-999.0
210382,2024-12-31 22:00:00,5.00,100.12,89.76,2.13,0.00,-999.00,-999.0
210383,2024-12-31 23:00:00,4.45,100.17,91.99,2.23,0.00,-999.00,-999.0

In [6]:
df_o['date'] = pd.to_datetime(df_o['date'])
df_n['datetime'] = pd.to_datetime(df_n['datetime'])

In [7]:
df_o.rename(columns={'date': 'datetime'}, inplace=True)


df_merged = pd.merge(df_o, df_n, on='datetime', how='inner')

In [8]:
df_merged

,datetime,median_temp,dew_point_C,pressure_kPa_x,humidity_x,wind_speed_x,wind_gust,rain_1h_x,snow_1h,clouds_all,visibility,temp_C,pressure_kPa_y,humidity_y,wind_speed_y,rain_1h_y,Longwave_Irradiance_Wm2,Shortwave_Irradiance_Wm2
0,2001-01-01 00:00:00,-2.915,-2.50,103.0,100,4.10,NaN,NaN,NaN,100,3200.0,-8.33,100.87,100.00,1.74,0.02,264.88,0.0
1,2001-01-01 01:00:00,-2.855,-2.99,103.0,95,4.10,NaN,NaN,0.22,100,10000.0,-8.84,100.89,100.00,1.81,0.01,253.45,0.0
2,2001-01-01 02:00:00,-2.870,-3.02,103.0,95,3.10,NaN,NaN,NaN,100,10000.0,-9.11,100.92,100.00,1.90,0.01,249.07,0.0
3,2001-01-01 03:00:00,-2.865,-3.77,103.1,92,2.60,NaN,NaN,NaN,100,10000.0,-9.36,100.92,100.00,2.02,0.02,261.33,0.0
4,2001-01-01 04:00:00,-3.085,-3.45,103.2,95,2.10,NaN,NaN,NaN,100,10000.0,-9.71,100.91,100.00,2.18,0.06,255.15,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210379,2024-12-31 19:00:00,12.280,2.46,102.0,49,4.63,9.26,NaN,NaN,20,10000.0,6.88,99.97,80.13,2.08,0.00,-999.00,-999.0
210380,2024-12-31 20:00:00,12.920,2.44,102.0,48,4.12,NaN,NaN,NaN,20,10000.0,6.27,100.03,83.28,2.08,0.00,-999.00,-999.0
210381,2024-12-31 21:00:00,13.595,2.88,102.0,47,5.14,7.72,NaN,NaN,20,10000.0,5.60,100.07,86.74,2.09,0.00,-999.00,-999.0
210382,2024-12-31 22:00:00,13.560,2.88,102.0,47,4.12,NaN,NaN,NaN,20,10000.0,5.00,100.12,89.76,2.13,0.00,-999.00,-999.0
210383,2024-12-31 23:00:00,12.575,3.06,102.0,51,4.12,NaN,NaN,NaN,40,10000.0,4.45,100.17,91.99,2.23,0.00,-999.00,-999.0

In [9]:
df_merged.to_csv("databpam.csv")

In [10]:
df_merged['datetime'] = pd.to_datetime(df_merged['datetime'])  # ensure datetime column
df_merged.set_index('datetime', inplace=True)

In [11]:
df_merged.columns

Index(['median_temp', 'dew_point_C', 'pressure_kPa_x', 'humidity_x',
       'wind_speed_x', 'wind_gust', 'rain_1h_x', 'snow_1h', 'clouds_all',
       'visibility', 'temp_C', 'pressure_kPa_y', 'humidity_y', 'wind_speed_y',
       'rain_1h_y', 'Longwave_Irradiance_Wm2', 'Shortwave_Irradiance_Wm2'],
      dtype='object')

In [12]:
df_median = pd.DataFrame()

In [13]:
df_median['pressure_kPa'] = df_merged[['pressure_kPa_x', 'pressure_kPa_y']].median(axis=1)
df_median['humidity'] = df_merged[['humidity_x', 'humidity_y']].median(axis=1)
df_median['wind_speed'] = df_merged[['wind_speed_x', 'wind_speed_y']].median(axis=1)
df_median['rain_1h'] = df_merged[['rain_1h_x', 'rain_1h_y']].median(axis=1)
df_median['Temp']=df_merged[['median_temp','temp_C']].median(axis=1)

In [14]:
df_median.index = df_merged.index

In [15]:
df_median

                     pressure_kPa  humidity  wind_speed  rain_1h    Temp
datetime
2001-01-01 00:00:00       101.935   100.000       2.920     0.02 -5.6225
2001-01-01 01:00:00       101.945    97.500       2.955     0.01 -5.8475
2001-01-01 02:00:00       101.960    97.500       2.500     0.01 -5.9900
2001-01-01 03:00:00       102.010    96.000       2.310     0.02 -6.1125
2001-01-01 04:00:00       102.055    97.500       2.140     0.06 -6.3975
...                           ...       ...         ...      ...     ...
2024-12-31 19:00:00       100.985    64.565       3.355     0.00  9.5800
2024-12-31 20:00:00       101.015    65.640       3.100     0.00  9.5950
2024-12-31 21:00:00       101.035    66.870       3.615     0.00  9.5975
2024-12-31 22:00:00       101.060    68.380       3.125     0.00  9.2800
2024-12-31 23:00:00       101.085    71.495       3.175     0.00  8.5125

[210384 rows x 5 columns]

In [16]:
df_mean=pd.DataFrame()

In [17]:
df_mean['pressure_kPa'] = df_merged[['pressure_kPa_x', 'pressure_kPa_y']].mean(axis=1)
df_mean['humidity'] = df_merged[['humidity_x', 'humidity_y']].mean(axis=1)
df_mean['wind_speed'] = df_merged[['wind_speed_x', 'wind_speed_y']].mean(axis=1)
df_mean['rain_1h'] = df_merged[['rain_1h_x', 'rain_1h_y']].mean(axis=1)
df_mean['Temp']=df_merged[['median_temp','temp_C']].mean(axis=1)
df_mean.index = df_merged.index

In [18]:
df_mean

                     pressure_kPa  humidity  wind_speed  rain_1h    Temp
datetime
2001-01-01 00:00:00       101.935   100.000       2.920     0.02 -5.6225
2001-01-01 01:00:00       101.945    97.500       2.955     0.01 -5.8475
2001-01-01 02:00:00       101.960    97.500       2.500     0.01 -5.9900
2001-01-01 03:00:00       102.010    96.000       2.310     0.02 -6.1125
2001-01-01 04:00:00       102.055    97.500       2.140     0.06 -6.3975
...                           ...       ...         ...      ...     ...
2024-12-31 19:00:00       100.985    64.565       3.355     0.00  9.5800
2024-12-31 20:00:00       101.015    65.640       3.100     0.00  9.5950
2024-12-31 21:00:00       101.035    66.870       3.615     0.00  9.5975
2024-12-31 22:00:00       101.060    68.380       3.125     0.00  9.2800
2024-12-31 23:00:00       101.085    71.495       3.175     0.00  8.5125

[210384 rows x 5 columns]

In [19]:
df_merged['pressure_kPa'] = df_merged[['pressure_kPa_x', 'pressure_kPa_y']].mean(axis=1)
df_merged['humidity'] = df_merged[['humidity_x', 'humidity_y']].mean(axis=1)
df_merged['wind_speed'] = df_merged[['wind_speed_x', 'wind_speed_y']].mean(axis=1)
df_merged['rain_1h'] = df_merged[['rain_1h_x', 'rain_1h_y']].mean(axis=1)
df_merged['Temp']=df_merged[['median_temp','temp_C']].mean(axis=1)

In [20]:
df_merged

,median_temp,dew_point_C,pressure_kPa_x,humidity_x,wind_speed_x,wind_gust,rain_1h_x,snow_1h,clouds_all,visibility,...,humidity_y,wind_speed_y,rain_1h_y,Longwave_Irradiance_Wm2,Shortwave_Irradiance_Wm2,pressure_kPa,humidity,wind_speed,rain_1h,Temp
datetime,,,,,,,,,,,,,,,,,,,,,
2001-01-01 00:00:00,-2.915,-2.50,103.0,100,4.10,NaN,NaN,NaN,100,3200.0,...,100.00,1.74,0.02,264.88,0.0,101.935,100.000,2.920,0.02,-5.6225
2001-01-01 01:00:00,-2.855,-2.99,103.0,95,4.10,NaN,NaN,0.22,100,10000.0,...,100.00,1.81,0.01,253.45,0.0,101.945,97.500,2.955,0.01,-5.8475
2001-01-01 02:00:00,-2.870,-3.02,103.0,95,3.10,NaN,NaN,NaN,100,10000.0,...,100.00,1.90,0.01,249.07,0.0,101.960,97.500,2.500,0.01,-5.9900
2001-01-01 03:00:00,-2.865,-3.77,103.1,92,2.60,NaN,NaN,NaN,100,10000.0,...,100.00,2.02,0.02,261.33,0.0,102.010,96.000,2.310,0.02,-6.1125
2001-01-01 04:00:00,-3.085,-3.45,103.2,95,2.10,NaN,NaN,NaN,100,10000.0,...,100.00,2.18,0.06,255.15,0.0,102.055,97.500,2.140,0.06,-6.3975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-31 19:00:00,12.280,2.46,102.0,49,4.63,9.26,NaN,NaN,20,10000.0,...,80.13,2.08,0.00,-999.00,-999.0,100.985,64.565,3.355,0.00,9.5800
2024-12-31 20:00:00,12.920,2.44,102.0,48,4.12,NaN,NaN,NaN,20,10000.0,...,83.28,2.08,0.00,-999.00,-999.0,101.015,65.640,3.100,0.00,9.5950
2024-12-31 21:00:00,13.595,2.88,102.0,47,5.14,7.72,NaN,NaN,20,10000.0,...,86.74,2.09,0.00,-999.00,-999.0,101.035,66.870,3.615,0.00,9.5975
2024-12-31 22:00:00,13.560,2.88,102.0,47,4.12,NaN,NaN,NaN,20,10000.0,...,89.76,2.13,0.00,-999.00,-999.0,101.060,68.380,3.125,0.00,9.2800
2024-12-31 23:00:00,12.575,3.06,102.0,51,4.12,NaN,NaN,NaN,40,10000.0,...,91.99,2.23,0.00,-999.00,-999.0,101.085,71.495,3.175,0.00,8.5125

In [21]:
df_merged.drop(
    ['pressure_kPa_x', 'pressure_kPa_y', 'humidity_x', 'humidity_y',
     'wind_speed_x', 'wind_speed_y', 'rain_1h_x', 'rain_1h_y',
     'median_temp', 'temp_C'],
    axis=1,
    inplace=True
)

In [22]:
df_merged

,dew_point_C,wind_gust,snow_1h,clouds_all,visibility,Longwave_Irradiance_Wm2,Shortwave_Irradiance_Wm2,pressure_kPa,humidity,wind_speed,rain_1h,Temp
datetime,,,,,,,,,,,,
2001-01-01 00:00:00,-2.50,NaN,NaN,100,3200.0,264.88,0.0,101.935,100.000,2.920,0.02,-5.6225
2001-01-01 01:00:00,-2.99,NaN,0.22,100,10000.0,253.45,0.0,101.945,97.500,2.955,0.01,-5.8475
2001-01-01 02:00:00,-3.02,NaN,NaN,100,10000.0,249.07,0.0,101.960,97.500,2.500,0.01,-5.9900
2001-01-01 03:00:00,-3.77,NaN,NaN,100,10000.0,261.33,0.0,102.010,96.000,2.310,0.02,-6.1125
2001-01-01 04:00:00,-3.45,NaN,NaN,100,10000.0,255.15,0.0,102.055,97.500,2.140,0.06,-6.3975
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-31 19:00:00,2.46,9.26,NaN,20,10000.0,-999.00,-999.0,100.985,64.565,3.355,0.00,9.5800
2024-12-31 20:00:00,2.44,NaN,NaN,20,10000.0,-999.00,-999.0,101.015,65.640,3.100,0.00,9.5950
2024-12-31 21:00:00,2.88,7.72,NaN,20,10000.0,-999.00,-999.0,101.035,66.870,3.615,0.00,9.5975
2024-12-31 22:00:00,2.88,NaN,NaN,20,10000.0,-999.00,-999.0,101.060,68.380,3.125,0.00,9.2800
2024-12-31 23:00:00,3.06,NaN,NaN,40,10000.0,-999.00,-999.0,101.085,71.495,3.175,0.00,8.5125

In [23]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 210384 entries, 2001-01-01 00:00:00 to 2024-12-31 23:00:00
Data columns (total 12 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   dew_point_C               210384 non-null  float64
 1   wind_gust                 41703 non-null   float64
 2   snow_1h                   576 non-null     float64
 3   clouds_all                210384 non-null  int64
 4   visibility                185247 non-null  float64
 5   Longwave_Irradiance_Wm2   210384 non-null  float64
 6   Shortwave_Irradiance_Wm2  210384 non-null  float64
 7   pressure_kPa              210384 non-null  float64
 8   humidity                  210384 non-null  float64
 9   wind_speed                210384 non-null  float64
 10  rain_1h                   210384 non-null  float64
 11  Temp                      210384 non-null  float64
dtypes: float64(11), int64(1)
memory usage: 20.9 MB

In [24]:
cols_to_round = ['dew_point_C','pressure_kPa', 'humidity', 'wind_speed', 'rain_1h','Temp']
df_merged[cols_to_round] = df_merged[cols_to_round].round(2)

In [25]:
df_merged.drop(['wind_gust','snow_1h'],axis=1,inplace=True)

In [26]:
df_merged['visibility'] = df_merged['visibility'].interpolate(method='linear')

In [27]:
df_merged.reset_index(inplace=True)

In [28]:
pd.to_datetime(df_merged['datetime'])

0        2001-01-01 00:00:00
1        2001-01-01 01:00:00
2        2001-01-01 02:00:00
3        2001-01-01 03:00:00
4        2001-01-01 04:00:00
                 ...
210379   2024-12-31 19:00:00
210380   2024-12-31 20:00:00
210381   2024-12-31 21:00:00
210382   2024-12-31 22:00:00
210383   2024-12-31 23:00:00
Name: datetime, Length: 210384, dtype: datetime64[ns]

In [29]:
df_merged

,datetime,dew_point_C,clouds_all,visibility,Longwave_Irradiance_Wm2,Shortwave_Irradiance_Wm2,pressure_kPa,humidity,wind_speed,rain_1h,Temp
0,2001-01-01 00:00:00,-2.50,100,3200.0,264.88,0.0,101.94,100.00,2.92,0.02,-5.62
1,2001-01-01 01:00:00,-2.99,100,10000.0,253.45,0.0,101.94,97.50,2.96,0.01,-5.85
2,2001-01-01 02:00:00,-3.02,100,10000.0,249.07,0.0,101.96,97.50,2.50,0.01,-5.99
3,2001-01-01 03:00:00,-3.77,100,10000.0,261.33,0.0,102.01,96.00,2.31,0.02,-6.11
4,2001-01-01 04:00:00,-3.45,100,10000.0,255.15,0.0,102.06,97.50,2.14,0.06,-6.40
...,...,...,...,...,...,...,...,...,...,...,...
210379,2024-12-31 19:00:00,2.46,20,10000.0,-999.00,-999.0,100.98,64.56,3.36,0.00,9.58
210380,2024-12-31 20:00:00,2.44,20,10000.0,-999.00,-999.0,101.02,65.64,3.10,0.00,9.60
210381,2024-12-31 21:00:00,2.88,20,10000.0,-999.00,-999.0,101.04,66.87,3.62,0.00,9.60
210382,2024-12-31 22:00:00,2.88,20,10000.0,-999.00,-999.0,101.06,68.38,3.12,0.00,9.28
210383,2024-12-31 23:00:00,3.06,40,10000.0,-999.00,-999.0,101.08,71.50,3.18,0.00,8.51

In [30]:
df_merged.describe()

,datetime,dew_point_C,clouds_all,visibility,Longwave_Irradiance_Wm2,Shortwave_Irradiance_Wm2,pressure_kPa,humidity,wind_speed,rain_1h,Temp
count,210384,210384.000000,210384.000000,210384.000000,210384.000000,210384.000000,210384.000000,210384.000000,210384.000000,210384.000000,210384.000000
mean,2012-12-31 23:30:00,11.302213,49.078328,9742.787279,329.388283,180.986140,100.540185,65.110558,3.815204,1.992387,19.148211
min,2001-01-01 00:00:00,-43.000000,0.000000,4.000000,-999.000000,-999.000000,98.340000,14.420000,0.000000,0.000000,-15.600000
25%,2007-01-01 11:45:00,4.020000,20.000000,10000.000000,301.330000,0.000000,100.140000,53.400000,2.480000,0.000000,11.780000
50%,2012-12-31 23:30:00,13.550000,40.000000,10000.000000,360.600000,5.970000,100.460000,65.580000,3.550000,0.000000,20.240000
75%,2019-01-01 11:15:00,19.040000,75.000000,10000.000000,402.270000,359.400000,100.890000,77.500000,4.930000,0.340000,26.930000
max,2024-12-31 23:00:00,27.230000,100.000000,10000.000000,511.250000,1055.900000,103.540000,100.000000,16.320000,433.080000,41.400000
std,NaN,8.957773,38.012118,1261.429195,187.823180,322.939548,0.628434,15.948188,1.799110,8.431658,9.576285

In [31]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210384 entries, 0 to 210383
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   datetime                  210384 non-null  datetime64[ns]
 1   dew_point_C               210384 non-null  float64
 2   clouds_all                210384 non-null  int64
 3   visibility                210384 non-null  float64
 4   Longwave_Irradiance_Wm2   210384 non-null  float64
 5   Shortwave_Irradiance_Wm2  210384 non-null  float64
 6   pressure_kPa              210384 non-null  float64
 7   humidity                  210384 non-null  float64
 8   wind_speed                210384 non-null  float64
 9   rain_1h                   210384 non-null  float64
 10  Temp                      210384 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 17.7 MB

In [32]:
df_merged.isna().sum()

datetime                    0
dew_point_C                 0
clouds_all                  0
visibility                  0
Longwave_Irradiance_Wm2     0
Shortwave_Irradiance_Wm2    0
pressure_kPa                0
humidity                    0
wind_speed                  0
rain_1h                     0
Temp                        0
dtype: int64

In [33]:
df_merged.to_csv("/Users/vj/Jupyter Notebook/DSTC-5082/Data/FinalDataset.csv")